.profile {
      margin: auto;
      display: flex;
      flex-direction: column;
      &__name {
            font-weight: 600;
            background-color: blueviolet;
            margin: auto;
            padding: 15px;
            border: 3px solid #eee;
              }
    &__birth {
            background-color: coral;
            margin: auto;
            padding: 15px;
            border: 3px solid #eee;
          }
 };

